.header {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    padding: 6vh 0vh 2vh 0vh;
    &__title {
        text-align: center;
        font-size: 70px;
    }
    &__subTitle {
        text-align: center;
        font-size: 40px;
    }
    &__phrase {
        width: 100%;
        height: auto;
        @include disfc; 
        &__prop {
            font-size: 15px;
            padding: 1vh 0vh;
        }
    }
}

@media (max-width: 480px) {
.header {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    padding: 6vh 0vh 2vh 0vh;
    &__title {
        text-align: center;
        font-size: 45px;
    }
    &__subTitle {
        text-align: center;
        font-size: 25px;
    }
    &__phrase {
        width: 100%;
        height: auto;
        @include disfc; 
        &__prop {
            width: 90%;
            font-size: 14px;
            padding: 1vh 0vh;
            text-align: justify;
        }
    }
}
}